html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(45deg, #0d4e64, #0e6a2de0, #127019);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    line-height: 2rem;
    font-size: 16px;
}

.bg-header{
    background-image: linear-gradient(0deg, rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)), url(../img/b_20230715_ladiesfinal_TL205552-318799_1190.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 15rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
}

.logo img {
    width: 60px;
    height: 60px;
}

.navbar {
    background-color: #000000 !important;
    padding: 0 60px;
    width: 100%;
    z-index: 999;
}

.navbar-toggler-icon {
    background-color: #ffffff !important;
}

.navbar-brand {
    color: #abc502 !important;
    font-size: 1.5rem;

}

.navbar-brand span {
    color: #ffffff !important;
}

.nav-link {
    font-size: 1.2rem;
    padding: 0 20px;
    color: #ffffff !important;
}

.nav-link:hover {
    color: #abc502 !important;
}

.nav-item.active .nav-link {
    color: #abc502 !important;
}
.navbar-toggler-icon{
    all: unset;
    background-image: none !important;
    background-color: transparent !important;
    
}
.navbar-toggler-icon i{
    color: #ffffff;
    font-size: 1.2rem;
}
.s-icon {
    padding: 0 8px;
}

.banner {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
}

.banner h1 {
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
}

.banner h1::after {
    content: '';
    width: 8rem;
    height: 2px;
    background-color: #abc502;
    position: absolute;
    left: 16px;
    bottom: 10px
}

.banner p {
    color: #abc502;
    font-weight: bold;
    font-size: 36px;

}

.banner-intro {
    color: #ffffff;
    padding: 30px 0;
    font-size: 20px;
}

.exp-btn {
    padding-top: 30px;

}

.banner-btn {
    background-color: #abc502 !important;
    border: none;
    color: #000000 !important;
    transition: all 0.5s ease-in-out;
    border: 1px solid #abc502 !important;
}

.banner-btn:hover {
    background-color: #000000 !important;
    color: #abc502 !important;
    border: 1px solid #abc502 !important;
}

.first-card {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 40%), rgba(0 0 0 / 40%)), url(../img/b_20230701_trophy_BS1_3420-1-258244_471.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.9em 1.5em;
    position: relative;
    top: -10rem;
    isolation: isolate;
}

.first-card::before {
    content: '';
    background-color: #7f9203;
    inset: 0;
    position: absolute;
    opacity: 0.8;
}

.first-card h2 {
    color: #000000;
    z-index: 999;
    position: relative;
    font-family: 'Josefin Sans', sans-serif, ;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2.4rem;

}

.first-card p {
    color: #ffffff;
    z-index: 999;
    position: relative;
    font-family: 'bebas neue', sans-serif;
    font-size: 16px;
    text-transform: lowercase;

}

.second-card {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 55%), rgba(0 0 0 / 55%)), url(../img/home21.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 1.5em;
    color: #ffffff;
    position: absolute;
    top: -10em;
    width: 100%;
}

.second-card h2 {
    padding-bottom: 20px;
    font-family: 'bebas neue', sans-serif;
    letter-spacing: 2px;
    font-size: 2.6rem;
    font-weight: bold;
}

.second-card p {
    font-family: 'bebas neue', sans-serif;
    font-size: 18px;
}

/* match formats  */

.formats-head h1 {
    padding-bottom: 50px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
}

.formats-head h1::after {
    content: '';
    position: absolute;
    background-color: #abc502;
    height: 2px;
    width: 65px;
    bottom: 25px;
    left: 0;
}

.into-format p {
    font-size: 16px;
    padding-bottom: 40px;
    color: #ffffff;
}

.events {
    padding-bottom: 20px;
    padding-right: 40px;
}

.events h4 {
    text-transform: uppercase;
    padding-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
    color: #ffffff;
}

.events p {
    font-size: 1.2rem;
    color: #ffffff;
}

.money h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: underline;
}

.money p {
    font-size: 18px;
    padding-bottom: 40px;
    color: #ffffff;

}

.format-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.format-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.format-img img {
    width: 80%;
    transition: all 0.5s ease-in-out;

}

.format-img:hover {
    opacity: 0.6;
}

.format-text p {
    background-color: #abc502;
    padding: 1em 5.9em;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.img-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    transition: color 0.5s ease-in-out;
    padding: .6em 5.1em;
}

.img-btn:hover a {
    color: #ffffff !important;
}

.format-btn {
    background-color: transparent !important;
    border: none;
    color: #abc502 !important;
    font-size: 0.8rem;
    padding: 10px 0;
}

.blank {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)), url(../img/b_20230714_djoksinngal_JN7_3066-314652_318.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about-ground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.about-ground h2 {
    text-transform: uppercase;
    color: #abc502;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 20px;
    text-align: center;
}

.about-ground p {
    color: #ffffff;

}

.story {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
}

.story h1 {
    position: relative;
    color: #ffffff;
}

.story h1::after {
    content: '';
    position: absolute;
    background-color: #abc502;
    width: 60px;
    height: 2px;
    bottom: -30px;
    left: 80px;
}

.into-story h4 {
    text-transform: uppercase;
    padding: 30px 0;
    font-size: 1.8rem;
    text-decoration: underline;
    color: #ffffff;
}

.into-story p {
    font-size: 1.2rem;
    padding-bottom: 30px;
    color: #ffffff;
}

.owl-prev,
.owl-next {
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: #FFF !important;
}

.owl-carousel {
    padding-bottom: 40px;
}


.sec-addon {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 40%), rgba(0 0 0 / 40%)), url(../img/b_20230717_championsgallery_BQ208515-324557_3748.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.sec-addon::before {
    content: '';
    position: absolute;
    background-color: #abc502;
    inset: 0;
    opacity: 0.6;
}

.addon-title {
    height: 100%;
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.addon-title h4 {
    color: #000000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
}

.addon-title p {
    color: #ffffff !important;
    font-size: 1rem;

}

.addon-call h4 {
    color: #abc502 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    z-index: 888;
}

.addon-call p {
    color: #ffffff !important;
    position: relative;
    z-index: 888;
    font-size: 1.4rem;
}

.addon-call {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addon-call::before {
    content: '';
    position: absolute;
    background-color: #000000;
    inset: 0;
    opacity: 0.7;
}



/* footer */

footer {
    padding: 50px 0;
    bottom: 0;
}

.foot-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.footer-logo {
    position: relative;
    bottom: 20px;
}

.addon-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addon-text p {
    color: #ffffff;
    padding: 30px 0;
}

.foot-so {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.foot-so a {
    font-size: 1.8rem;
}

.footer-loc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-loc h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
}

.footer-loc iframe {
    margin: 20px 0;
    height: 250px;
    width: 350px;
}

.footer-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-section h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-bottom: 30px;
}

.footer-section p {
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
}

.footer-bottom {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    opacity: 0.4;
}

.scroll-arrow{
    text-decoration: none !important;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #abc502;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 99;
}
.scroll-arrow.active{
    opacity: 1;
}

/* about section */

.secondary-nav {
    position: relative;
    top: 5.7rem;
    background-color: #abc502;
    padding: 4px 0;
}

.nav-head h4 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}

.nav-head p {
    color: #ffffff;
    font-size: 1.2rem;
}

.about-banner {
    position: relative;
    top: 10rem;
    padding: 5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #abc502;
}

.about-banner h1 {
    font-size: 3.2rem;
    font-weight: bold;
    color: #abc502;
}

.history-head {
    color: #abc502;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: bold;
}

.begi h3 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    color: #ffffff;
}

.today h3 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    color: #ffffff;
}

.tradition {
    width: 100%;
    height: 100%;
}

.umpires {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)), url(../img/pexels-jill-rose-4408355.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trad-text {
    padding: 40px 0;
}

.trad-text h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    text-decoration: underline;
}

.trad-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.trad-img img {
    transition: all .5s ease-in-out;
    border: 4px solid #abc502;
    width: 100%;
    transform: scale(1);
}

.trad-img img:hover {
    transform: scale(1.1);
}

.umpires {
    padding: 40px 0;
}

.ump-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ump-img img {
    border: 4px solid #abc502;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.ump-img img:hover {
    transform: rotate(5deg);
}

.ump-text h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    text-decoration: underline;
}

/* carousel items */
.carousel-cards {
    padding: 4rem 0;
}

/* platers section */
.players-card {
    padding: 40px 10px;
    background-image: linear-gradient(60deg, #191919, #cfdd10);
    margin: 20px 0;

}

.players-img img {
    width: 100%;
    margin-bottom: 10px;

}

.players-title h3 {
    font-size: 1.4rem;
    padding: 20px 6px;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(201, 229, 241) 30%, transparent);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color: black
}

.about-players p {
    font-size: 0.9rem;
}

.players-card:hover .players-title h3 {
    background-position: left bottom;

}

/* News */

.tablewrap {
    width: 100%;
    overflow-x: auto;
}

.match-text img {
    width: 80px;
    height: 80px;
}

.news-head h1 {
    font-size: 3.5rem;
    position: relative;
}

.news-head h1::after {
    content: "";
    width: 125px;
    height: 11px;
    position: absolute;
    top: auto;
    bottom: -30px;
    left: 5px;
    background-image: linear-gradient(90deg, #abc502 20%, transparent 0);
    background-size: 14px 11px;
    background-repeat: repeat-x;
    transform: skew(-44deg, 0deg);
}

.news-title p {
    padding: 50px 0 0 0;
}

.previous h2 {
    color: #abc502;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
}

.upcoming h2 {
    color: #abc502;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
}

.winner-name h4 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 2rem;
}

.winner-name p {
    color: #ffffff;
    text-align: center;
    font-size: 1.8rem;
}

.won img {
    width: 100%;
    transition: all .5s ease-in-out;

}

.won {
    position: relative;
}

.won::before {
    content: '';
    background-color: #abc502ad;
    position: absolute;
    inset: 0;
    left: 0;
    top: 0;
    opacity: 0;

}

.won:hover::before {
    opacity: 1;
}

.won p {
    color: #FFF;
    font-size: 2.5rem;
    position: absolute;
    z-index: 9;
    text-transform: uppercase;
    top: 40%;
    left: 25%;
    opacity: 0;

}

.won:hover.won p {
    opacity: 1;
}

.loss {
    position: relative;
    transition: .5 ease-in-out;
}

.loss:hover.loss p {
    opacity: 1;
}

.loss::before {
    content: '';
    background-color: #ff0000;
    position: absolute;
    inset: 0;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;


}

.loss:hover.loss::before {
    opacity: .4;
}

.loss p {
    color: #ffffff;
    font-size: 2.5rem;
    position: absolute;
    z-index: 9;
    text-transform: uppercase;
    top: 40%;
    left: 25%;
    opacity: 0;
}

.losser-name h4 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 2rem;
}

.loss img {
    width: 100%;
}

.match-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.match-text p {
    font-size: 1.5rem;
}

.match-info img {
    width: 100%;


}

.match-info {
    position: relative;
    transition: 0.5s ease-in-out;
}

.match-info::before {
    content: '';
    position: absolute;
    background-color: #abc502;
    inset: 0;
    z-index: 2;
    opacity: 0;
}

.player-name h4 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
}

.match-info:hover.match-info::before {
    opacity: .4;
}

.ending-text h5 {
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
}

.ending-ico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 60px;
}

.ending-ico img {
    width: 10%;
}








/* media quary */

@media only screen and (max-width: 475px) and (min-width: 320px) {
    h1,h2,h3,h4,h5,h6{
        padding-left: 20px !important;
    }
    p {
        padding-left: 20px;
        font-size: 14px !important;
    }

    .navbar {
        padding: 0px 15px;
    }

    .logo img {
        width: 20%;
    }

    .navbar-brand {
        font-size: .8rem;
    }

    .social-icon {
        display: none;
    }

    .banner p {
        font-size: 12px !important;
        padding-left: 30px;
    }

    .banner h1 {
        padding-left: 30px;
        font-size: 2rem;
        color: #ffffff;
        font-weight: bold;
    }
    .banner h1::after {
        left: 50px;
        bottom: 10px;
    }
    .about-banner h1{
      font-size: 2rem;
    }
    .exp-btn{
        padding-left: 40px;
    }
    .exp-btn a{
        font-size: 12px !important;
    }

    .second-card {
        padding: 1.5em;
    }

    .second-card h2 {
        width: 100%;
    }

    .formats-head {
        position: relative;
        top: 22rem;
    }
    .formats-head h1::after {
        bottom: 25px;
        left: 30px;
    }

    .into-format p {
        position: relative;
        top: 22rem;
        padding: 0 60px;
        font-size: 14px !important;
    }
    .banner h1::after {
        bottom: -10px;
    }   

    .format-card {
        position: relative;
        top: 24rem;
        margin-bottom: 20rem;
    }
    .first-card h2 {
       font-size: 1.7rem;
    }

    .news-head h1 {
        font-size: 2rem;
        position: relative;
    }


    .events {
        position: relative;
        top: 7rem;
    }

    .events p {
        font-size: 16px;
    }

    .events h4 {
        font-size: 1.3rem;
    }

    .money {
        padding-top: 5rem;
    }

    .format-text p {
        padding: 1rem 5.7rem !important;
    }
    .story h1 {
       font-size: 35px !important;
    }
    .into-story h4 {
        text-transform: uppercase;
        padding: 30px 20px;
        font-size: 1.4rem;
        text-decoration: underline;
        color: #ffffff;
    }

    .img-btn {
        padding: .8rem 4.7rem !important;
    }

    .addon-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .addon-call{
        width: 100%;
    }

    .footer-section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .about-ground p {
        text-align: start;
        font-size: .8rem;
    }

    .addon-title h4 {
        width: 100%;
        text-align: center;
    }

    .footer-section h3 {
        text-align: center;
    }


    .footer-loc h3 {
        padding-top: 30px;
    }



    .footer-bottom {
        text-align: center;
    }

    .players-title h3 {
        font-size: 2rem;
    }

    .about-players p {
        font-size: 1.2rem !important;
    }
    .won p {
        font-size: 2.5rem !important;
      
    }
    .loss p {
        font-size: 2.5rem !important;
      
    }
    .footer-loc iframe {
        margin: 20px 0;
        height: 202px;
        width: 210px;
    }

}


@media only screen and (max-width: 575px) and (min-width: 476px) {
     p {
        font-size: .8rem !important;
    }

    .social-icon {
        display: none;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .banner p {
        font-size: 26px;
    }

    .banner h1 {
        font-size: 2.8rem;
    }

    .about-banner h1{
        font-size: 2rem;
      }
    .formats-head h1 {
        position: relative;
        top: 20rem;
    }

    .into-format p {
        position: relative;
        top: 20rem;
        padding: 0 20px;
    }
    .banner h1::after {
        bottom: 0px;
    }

    .format-card {
        position: relative;
        top: 20rem;
        padding: 20px 0;
        margin-bottom: 15rem;
    }

    .format-img img {
        width: 58%;
    }

    .events {
        position: relative;
        top: 20rem;
    }

    .money {
        padding-top: 20rem;
    }

    .format-text p {
        padding: 1rem 4.9rem !important;
        font-size: 1rem;
        width: 100%;

    }

    .addon-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .addon-call p {
        font-size: 1.4rem !important;
    }

    .players-title h3 {
        font-size: 2rem;
    }

    .about-players p {
        font-size: 1.2rem !important;
    }

    .footer-loc h3 {
        padding-top: 40px;
    }

    .footer-section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .won p {
        font-size: 3.5rem !important;
    }
    .loss p {
        font-size: 3.5rem !important;
    }
    .footer-loc iframe {
        height: 215px;
        width: 214px;
    }

}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .navbar-brand {
        padding-left: 30px;
    }

    .navbar {
        padding: 10px 40px;
        min-width: 100%;
        position: static;
        margin: 0 !important;
    }
    .formats-head {
        position: absolute;
        bottom: -5rem;
    }

    .formats-head h1 {
        position: relative;
        top: 22rem;
    }

    .into-format p {
        position: relative;
        top: 30rem;
    }
   
    .banner h1::after {
        bottom: 0px;
    }
    .about-banner h1{
        font-size: 3rem !important;
      }

    .format-card {
        width: 100%;
        position: relative;
        top: 30rem;
        margin-bottom: 15rem;
    }

    .format-text p {
        padding: 1rem 10rem !important;
    }

    .img-btn {
        padding: 1rem 9.4rem !important;
    }

    .format-img {
        width: 100%;
    }

    .events {
        padding-top: 6rem;
        position: relative;
        top: 10rem;
    }

    .money {
        position: relative;
        padding-top: 14rem;
    }

    .addon-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .addon-title p {
        text-align: center;
    }


    .footer-loc h3 {
        padding: 30px;
    }

    .footer-section h3 {
        position: absolute;
        top: -5rem;
        text-align: center;
    }

    .footer-section {
        position: absolute;
        top: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-bottom {
        padding-top: 16rem;
    }

    .footer-loc iframe {
        margin: 20px 0;
        height: 348px;
        width: 352px;
    }

    .ump-img img {
        background-repeat: no-repeat;
    }

    .winner-name h4 {
        font-size: 1.4rem;
    }

    .losser-name h4 {
        font-size: 1.4rem;
    }

    .winner-name p {
        font-size: 1.2rem;
    }

    .logo img {
        width: 35%;
    }

    .navbar-brand {
        left: -60px;
        font-size: 1.2rem;
    }

    .banner p {
        color: #abc502;
        font-weight: bold;
        font-size: 28px;
    }

    .banner h1 {
        font-size: 3rem;
        color: #ffffff;
        font-weight: bold;
    }

    .s-icon {
        display: none;
    }

    .btn-primary {
        font-size: 12px;
    }

    .match-text p {
        font-size: .64rem;
    }

    .players-title h3 {
        font-size: 2rem;
    }

    .about-players p {
        font-size: 1.2rem !important;
    }
    .won p {
        font-size: 1.2rem;
    }
    .loss p {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .logo .s-icon {
        display: none;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .first-card h2 {
        font-size: 2rem;
    }


    .second-card h2 {
        font-size: 2.5rem;
        padding: 1.7rem 2rem;
    }

    .format-img img {
        width: 100%;
        border: 4px solid #000000;
    }

    .format-text p {
        padding: 1rem 4.1rem !important;
        font-size: 13px !important;
    }
    .img-btn{
        margin-bottom: 40px;
    }

    .img-btn a {
        padding:  10px 0px;
        font-size: 10px;
    }

    .addon-title h4 {
        font-size: 1.5rem;
    }

    .addon-title p {
        font-size: 13px;
        line-height: 18px;
    }

    .addon-call h4 {
        font-size: 1rem;
    }

    .addon-call p {
        font-size: .7rem;
    }

    .navbar-brand {
        left: -14px;
    }

    .addon-text p {
        padding: 5px 0;
        font-size: 12px;
    }

    .footer-loc h3 {
        font-size: 1.4rem;
    }

    .footer-loc iframe {
        margin: 20px 0;
        height: 238px;
        width: 232px;
    }

    .footer-section h3 {
        font-size: 1.4rem;
        text-align: center;
        position: absolute;
        bottom: 15rem;
    }

    .footer-section p {
        font-size: 16px;
    }

    .foot-so a {
        font-size: 1.4rem;
    }

    .footer-bottom p {
        font-size: 12px;
    }

    .players-title h3 {
        font-size: 2.4rem;
    }

    .about-players p {
        font-size: 1.2rem;
    }

    .match-text p {
        font-size: 1rem;
    }
    .won p {
        font-size: 1.5rem;
    }
    .loss p {
        font-size: 1.5rem;
    }
}


@media (max-width: 1199px) {
    .second-card {
        padding: 6.5em 1.5em;
    }
    .navbar-brand img{
        width: 20%;
    }
    .r-toggle{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .social-icon{
        display: none !important;
    }

    .format-text p {
        background-color: #abc502;
        padding: 1em 4.4em;
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
    }

    .img-btn {
        padding: .5em 3.6em;
    }
    .footer-section h3 {
       text-align: center;
    }
}